{% extends 'base.html' %}
<!-- Override page title from the template -->
{% block title %}Change Password{% endblock %}
<!-- header title block -->
{% block header_title%} Change Password {% endblock%}
<!-- header subtitle block -->
{% block header_subtitle %}Change your password.{% endblock %}
<!-- actions block -->
{% block actions %} {% endblock %}
<!-- content block -->
{% block content %}
<!--Section: Block Content-->
<section class="mb-5 mt-5 container">
      <form method="POST">
  
      <div class="md-form md-outline">       
         <label data-error="wrong" data-success="right" for="inputCurrentPassword">Current Password</label>
        <input type="password" id="inputCurrentPassword" class="form-control" name="current-password">
      </div>
      <br/>

      <div class="md-form md-outline">       
        <label data-error="wrong" data-success="right" for="inputNewPassword">New Password</label>
       <input type="password" id="inputNewPassword" class="form-control" name="new-password">
     </div>
     <br/>

     <div class="md-form md-outline">       
      <label data-error="wrong" data-success="right" for="inputConfirmPassword">Confirm Password</label>
     <input type="password" id="inputConfirmPassword" class="form-control" name="confirm-password">
   </div>
      <br/>
      <input type="submit" class="btn btn-primary mb-4" value="Change password">

    </form>
  
    <div class="d-flex justify-content-between align-items-center mb-2">
  
      <u><a href="{{url_for('user.view_user')}}">Back</a></u>
  
  
    </div>
  
  </section>
  <!--Section: Block Content-->

{% endblock %}