{% extends 'base.html' %}
<!-- Override page title from the template -->
{% block title %}Change Password{% endblock %}

<!-- Content block -->
{% block content %}
<!--Section: Block Content-->
<section class="mb-5 mt-5 container">

    <h4 class="container w-25 auto-max">Set a new password</h4>
  
    <form method="POST">
  
      <div class="md-form md-outline">       
         <label data-error="wrong" data-success="right" for="newPass">New password</label>

        <input type="password" id="newPass" class="form-control" name="change_password">
      </div>
      <br/>
      <input type="submit" class="btn btn-primary mb-4" value="Change password">

    </form>
  
    <div class="d-flex justify-content-between align-items-center mb-2">
  
      <u><a href="{{url_for('user.view_user')}}">Back</a></u>
  
  
    </div>
  
  </section>
  <!--Section: Block Content-->

{% endblock %}