{% extends 'base.html' %} 

<!-- header block -->
{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block content %} 

{% for post in posts %}
<article class="post">
  <header>
    <div>
      <h1>{{ post['title'] }}</h1>
      <d iv class="about">
        by {{ post['username'] }} on {{ post['created'] }}
      </div>
    </div>
  </header>
  <p class="body">{{ post['body'] }}</p>
</article>

{% if not loop.last %}
<hr />
{% endif %} 

{% endfor %} 

{% endblock %}
