{% extends 'layout.html' %}
<!-- page block -->
{% block page %}
<div class="container-fluid" id="page-content">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create Task List</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <form class="user" method="POST" >
      <div class="form-group row">
        <div class="col-sm-12 mb-3 mb-sm-0">
          <input type="text" class="form-control form-control-user" id="inputName" name="inputName" placeholder="Enter task list name">
        </div>

        <div class="col-sm-12 mt-3">
          <textarea type="text" class="form-control form-control-user" id="textareaDescription"name="textareaDescription" placeholder="Enter task list description"></textarea>
            </div>
      </div>
      
      <button  type="submit"  class="btn btn-primary btn-user btn-block">
        Create task list
      </button>
    
    </form>
  </div>
</div>
{% endblock %}
