<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% block title %}MyMDB{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    {% block styles %}
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css' ) }}"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.css' ) }}"
    />
    {% endblock %} {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('index')}}">{{site.name}}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('watchlist')}}"
              >Watchlist <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('watchlist_with_static')}}"
              >Watchlist Pro <span class="sr-only">(current)</span></a
            >
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <main>
      {% for message in get_flashed_messages() %}
      <div class="container">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> {{message}}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
      {% endfor %} {% block content %}{% endblock %}
    </main>
    <footer>
      
      <footer class="footer mt-auto">
        <div class="container">
          {% block footer %}
          <span class="text-muted">MyMDB is built using Flask.</span>
          {% endblock %}
        </div>
    </footer>
    {% block scripts %}{% endblock %}
  </body>
</html>
