{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-5">Welcome to {{site.name}}!</h1>
  </div>
</div>
<div>
  <ul>
    <li><a href="{{ url_for('watchlist') }}">Watchlist</a></li>
    <li>Filter: {{ "I am feeling musical." |musical }}</li>
    <li>{{"I am a built-in filter." |upper}}</li>
    <li>Global: {{ global_message() }}</li>
    <li>
      <a href="{{ url_for('watchlist_with_static') }}"
        >Watchlist with image and styles.</a
      >
    </li>
    <li><a href="{{ url_for('just_flash') }}">Flash something</a></li>
  </ul>
</div>
{% endblock %} {% block footer %} {{global_message()| musical}} {% endblock%}
